.markersPopup .leaflet-popup-content-wrapper {
  border-radius: 0;
  width: 25rem;
}

.markersPopup .leaflet-popup-content {
  margin: 0;
  width: 25rem !important;
}

.markersPopup .leaflet-popup-tip-container {
  display: none;
  width: 25rem;
}

/* .vehicleNumMarker .leaflet-popup-content-wrapper {
  border-radius: 10px;
}

.vehicleNumMarker .leaflet-popup-content {
  margin: 0;
  width: 7rem;
}

.vehicleNumMarker .leaflet-popup-tip-container {
  display: none;
} */
