.container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 7rem);
  z-index: 999;
  background-color: rgba(247, 142, 143, 0.3);
  position: absolute;
}

.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  width: 10rem;
  height: 10rem;
  background-color: #103856;
  border-radius: 10px;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

.loading {
  z-index: 100;
  color: white;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.84);
}

.dot {
  position: absolute;
  top: 3.4rem;
  font-size: 2rem;
  animation: showHideDot 0.7s ease-in-out infinite;

  &One {
    animation-delay: 0.1s;
    left: 3rem;
    color: #97ccfd;
  }
  &Two {
    animation-delay: 0.2s;
    left: 3.8rem;
    color: #f78e8f;
  }
  &Three {
    animation-delay: 0.3s;
    left: 4.6rem;
    color: #97ccfd;
  }
  &Four {
    animation-delay: 0.4s;
    left: 5.4rem;
    color: #f78e8f;
  }
  &Five {
    animation-delay: 0.5s;
    left: 6.2rem;
    color: #97ccfd;
  }
}

@keyframes showHideDot {
  0% {
    top: 3.4rem;
  }
  10% {
    top: 2.4rem;
  }
  20% {
    top: 1rem;
  }
  30% {
    top: 1rem;
  }
  40% {
    top: 2.4rem;
  }
  50% {
    top: 3.4rem;
  }
  60% {
    top: 4.4rem;
  }
  70% {
    top: 5.4rem;
  }
  80% {
    top: 5.4rem;
  }
  90% {
    top: 4.4rem;
  }
  100% {
    top: 3.4rem;
  }
}
