html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media (max-width: 1400px) {
    font-size: 50%; /* 1rem = 8px */
  }
  @media (max-width: 430px) {
    font-size: 37.5%; /* 1rem = 6px */
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
